<section class="todoapp">
    <header class="header">
        <h1>Minhas Tarefas</h1>
        <input class="new-todo" placeholder="O que você precisa fazer hoje?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </header>
    <section class="main" *ngIf="todos.length > 0">
        <ul class="todo-list">
            <li *ngFor="let todo of todos" [class.completed]="todo.complete">
                <div class="view">
                    <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
                    <label>{{todo.title}}</label>
                    <button class="destroy" (click)="removeTodo(todo)"></button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
        <span class="todo-count"><strong>Você tem {{todos.length}} tarefa{{todos.length > 1 ? 's' : ''}}</strong>. {{countCompletedTodos() > 0 ? (countCompletedTodos() == todos.length ? 'todas' : countCompletedTodos()) : 'nunhuma'}} concluída{{countCompletedTodos() > 1 ? 's' : ''}}  e {{countNotCompletedTodos() > 0 ? (countNotCompletedTodos() == todos.length ? 'todas' : countNotCompletedTodos()) : 'nenhuma'}} em aberto.</span>
    </footer>
</section>